<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Course List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a asp-controller="Course" asp-action="Create" class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i> Create Course
                </a>
            </div>

        </div>
        <div id="CoursesGrid" class=" ag-theme-balham" style="height: 500px"></div>

    </div>
</div>
@* 
@section Scripts
{ *@
<script type="text/javascript">
        $(document).ready(function () {
            debugger;
            DefineGrid();
            GetCourses();

        });
    let gridApi;

        function DefineGrid() {
            console.log("In Grid");
                const gridOptions = {
                    columnDefs :[
                        { field: "Name", headerName: "Course Name", minWidth: 170 },
                        { field: "Description", headerName: "Course Description", minWidth: 170 },
                        { field: "NoOfClasses", headerName: "No Of Classes", minWidth: 170 },
                        { field: "NoOfClasses", headerName: "No Of Classes", minWidth: 170 },
                        { field: "Fees", headerName: "Fees", minWidth: 170 }
                    ],
                    defaultColDef: {
                        filter: "agTextColumnFilter",
                    },
                    rowSelection: "multiple",
                    suppressRowClickSelection: true,
                    pagination: true,
                    paginationPageSize: 10,
                    paginationPageSizeSelector: [10, 25, 50],
                    rowData:[]
                };
                const gridDiv = document.querySelector("#CoursesGrid");
                gridApi = agGrid.createGrid(gridDiv, gridOptions);
        }

        function GetCourses(){
            console.log(gridApi);
            var oCourseVM = {
                PageNo:gridApi.paginationGetCurrentPage()+1,
                PageSize: gridApi.paginationGetPageSize()
            };

            $.ajax({
                url: "/Course/GetCourses",
                type: "POST",
                contentType: "application/json", //must be added
                dataType: "json", //better to add, not mandatory
                // // beforeSend: function (xhr) {
                // //     xhr.setRequestHeader("Authorization",
                // //         "Bearer " + '/* HttpContextAccessor.HttpContext.Session.GetString("token") */');
                // // },
                data: JSON.stringify(oCourseVM),
                success: function (data) {
                    debugger;
                    var oCourses = data;
                    gridApi.setGridOption("rowData", oCourses);
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
        }
    </script>

    
@* } *@