<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Assigned Course</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
                <a onclick="AddCourseOutLine()" class="btn btn-secondary">
                    <i class="bi bi-plus-circle"></i> Add Course Outline
                </a>
            </div>

        </div>
        <div id="CoursesGrid" class="ag-theme-quartz-dark" style="height: 500px"></div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        DefineGrid();
        GetCourses();

    });
    let gridApi;

    function DefineGrid() {
        const gridOptions = {
            columnDefs: [
                { valueGetter: x => { return (x.node.rowIndex + 1) }, headerName: "SL", width: 55 },
                { field: "name", headerName: "Course Name", minWidth: 170 },
                { field: "description", headerName: "Course Description", minWidth: 270 },
                { field: "noOfClasses", headerName: "No Of Classes", minWidth: 70 },
                { field: "fees", headerName: "Fees", minWidth: 70 }
            ],
            defaultColDef: {
                filter: "agTextColumnFilter",
            },
            rowSelection: "single",
            pagination: true,
            paginationPageSize: 20,
            paginationPageSizeSelector: [20, 50, 10]
        };
        const gridDiv = document.querySelector("#CoursesGrid");
        gridApi = agGrid.createGrid(gridDiv, gridOptions);
    }

    function GetCourses() {
        
        $.ajax({
            url: "/Course/GetAssignedCourses",
            type: "POST",
            contentType: "application/json", //must be added
            dataType: "json", 
            success: function (data) {
                var oCourses = data;
                gridApi.setGridOption("rowData", oCourses);
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }

    function AddCourseOutLine() {
        debugger;
        var oCourse = gridApi.getSelectedRows()[0];
        if (oCourse == null) {
            alert("Please Select a Course");
            return;
        }
        window.location.href = "AddCourseOutline/" + oCourse.id;
    }
</script>